{% extends 'base.html.twig' %}

{% block title %}Bytecites - Registration{% endblock %}

{% block body %}
    <h1 class="register-title">Welcome to the Bytecites community !</h1>

    {{ include('registration/register.html.twig') }}

    <!-- TODO : Redirection for login -->
    <div class="login-redirection">
        Already have an account?
        <a href="{{ path('app_user_index') }}">Log in</a>
    </div>

{% endblock %}
