{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
	{% include 'base/header.html.twig' %}
{% endblock %}

{% block main %}
	<main class="p-4">
		{% include 'base/carousel.html.twig' %}



		<section id="post-container">
			<h3 class="mt-4 px-3">Featured</h3>

			<hr class="hr"/>

			<div id="post-featured">
				{% for post in posts %}
					{% include 'component/home.post.html.twig' with {'post' : post} %}
				{% endfor %}
			</div>



			<h3 class="mt-4 px-3">Latest</h3>
			<hr class="hr"/>
			<div id="post-featured">
				{% for post in posts %}
					{% include 'component/home.post.html.twig' with {'post' : post} %}
				{% endfor %}
			</div>

		</section>

	</main>
{% endblock %}

{% block footer %}
	{% include 'base/footer.html.twig' %}
{% endblock %}
