{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
	{% include 'base/header.html.twig' %}
{% endblock %}

{% block main %}
	<main>
		{% include 'base/carousel.html.twig' %}
	</main>
{% endblock %}

{% block footer %}
	{% include 'base/footer.html.twig' %}
{% endblock %}
