{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block header %}
    {% include 'base/header.html.twig' %}
{% endblock %}

{% block main %}
    <main class="p-4">
        <section id="post-container">
			<h3 class="mt-2 px-3">{{ category }}</h3>

			<hr class="hr"/>

			<div class="d-flex">
                {% if posts is empty %}
                    <p class="text-center p-3">No posts yet for this category</p>
                {% endif %}
				{% for post in posts %}
					{% include 'component/home.post.html.twig' with {'post' : post} %}
				{% endfor %}
			</div>
		</section>
    </main>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html.twig' %}
{% endblock %}