.settings-container {
	padding: 3em;
}

.settings-title {
	color:gray;
	text-align: center;
}

.settings-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.settings-label {
	width: 100%;
	color:gray;
	font-size: large;
}

.settings-picture {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
	margin-bottom: 5vh;
}

.custom-file {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.settings-image {
	img {
		width: 250px;
		height: 250px;
	}
}

.vich-image {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.label {
	white-space: nowrap;
}
.btn-settings {
	text-align: center;
}