.settings-container {
  padding-inline: 15vw;
  padding-top: 5vh;
}

.settings-title {
  color:gray;
  text-align: center;
}

.settings-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

.settings-label {
  width: 100%;
  color:gray;
  font-size: large;
}

.settings-picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  margin-bottom: 5vh;
}

.btn-settings {
  text-align: center;
}