{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}
    <main>
        <section id="admin">
            <aside>
                <h2>Admin Dashboard</h2>
                <ul>
                    <li><a href="{{ path('app_admin_user_index') }}">Users</a></li>
                    <li><a href="{{ path('app_admin_category') }}">Categories</a></li>
                    <li><a href="{{ path('app_admin_post') }}">Posts</a></li>
                    <li><a href="{{ path('app_admin_comment') }}">Comments</a></li>
                </ul>
            </aside>
        </section>
    </main>
{% endblock %}
