{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
    {% include 'base/admin.header.html.twig' %}
{% endblock %}

{% block main %}
    <main>
        <section id="admin">
            <aside>
                <h2>Admin Dashboard</h2>
                <ul>
                    <li><a href="{{ path('app_admin_user_index') }}">Users</a></li>
                    <li><a href="{{ path('app_admin_category_index') }}">Categories</a></li>
                    <li><a href="{{ path('app_admin_post_index') }}">Posts</a></li>
                    <li><a href="{{ path('app_admin_comment_index') }}">Comments</a></li>
                </ul>
            </aside>
        </section>
    </main>
{% endblock %}
