{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block header %}
	{% include 'base/header.html.twig' %}
{% endblock %}

{% block main %}
    <main>
        <aside>
            

        </aside>

    </main>
{% endblock %}

{% block footer %}
	{% include 'base/footer.html.twig' %}
{% endblock %}
