.post-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;

	.post-inner, .comment-inner {
		display: flex;
		flex-direction: column;
		width: 80%;
	}
}

.description {
	color: grey;
}