<div id="home-post" class="p-3">
	<div id="post-content">
		<h5>{{ post.title }}</h5>
		<p id="text-content">{{ post.content|length > 220 ? post.content|slice(0, 220) ~ '...' : post.content  }}</p>
	</div>
	<div id="post-extra">
		<a href="/post/{{post.id}}">Read more</a>
		<p>{{ post.publishedAt ? post.publishedAt|date('Y-m-d') : '' }}</p>
	</div>
</div>